# HTTP Configuration
URL=http://localhost
PORT=8181

# Database Configuration
URL_DB=postgres://postgres:postgres@localhost:5432/scalidraw?sslmode=disable


URL_SHORTENED_PREFIX=http://localhost:5173/s/
JWT_SECRET=your_jwt_secret_key_here
FRONTEND_URL=http://localhost:5173

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=PRXehJDsscxnaZH3bijp
MINIO_SECRET_KEY=Jn0nV6bw3tC3CP8VXyJfuLMhUF5eYuy7PUyOyGZE
MINIO_BUCKET=salve
MINIO_USE_SSL=false


VITE_API_BASE_URL=http://localhost:8181/api 

# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=scalidraw
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001



