# HTTP Configuration
URL=
PORT=

# Database Configuration
URL_DB=


URL_SHORTENED_PREFIX=
JWT_SECRET=
FRONTEND_URL=

# MinIO Configuration
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_USE_SSL=


VITE_API_BASE_URL=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_PORT=
MINIO_CONSOLE_PORT=



